html body .geDiagramContainer, html body div.geMenubarContainer, html body div.mxPopupMenu,  html body td.mxPopupMenuIcon, html body .geFormatContainer {
	background-color:#2a2a2a;
}
html body .geFooterContainer, html body #geFooterItem1, html body textarea, html body .mxWindowTitle, html body .geDialogTitle, html body .geDialogFooter {
	background:#2a2a2a;
	color:#cccccc;
}
html body .geFooterContainer a {
	color:#337ab7;
}
html body div.mxRubberband {
	border:1px dashed #ffffff !important; background:#505759 !important;
}
html body .geToolbarContainer, html body .geSidebar, html body .geSidebarContainer .geTitle, html body input, html body textarea, html body button, html body .geColorBtn, html body .geBaseButton, html body .geSidebarTooltip {
	background:#2a2a2a;
	border-color:#505759;
	box-shadow:none;
	color:#cccccc;
}
html body .geSprite, html body .geSocialFooter img, html body .mxPopupMenuItem>img {
	filter:invert(100%);
}
html body .geFormatContainer {
	background-color:#2a2a2a !important;
	border-left:1px solid #505759;
}
html body .geDiagramContainer {
	border-color:#505759;
}
html body .geSidebarContainer a, html body .geMenubarContainer a, html body .geToolbar a {
	color:#cccccc;
}
html body .geMenubarMenu {
	border-color:#505759 !important;
}
html body .geToolbarMenu, html body .geFooterContainer, html body .geFooterContainer td {
	border-color:#505759;
}
html body .geFooterContainer a {
	background-color:none;
}
html body .geFooterContainer td:hover, html body #geFooterItem1:hover {
	background-color:#000000;
}
html body div.mxPopupMenu {
	border-color:#505759 !important;
	box-shadow:none;
}
html body .geSidebarContainer, html body .geDiagramBackdrop {
	background-color:#2a2a2a;
}
html body .geBackgroundPage {
	box-shadow:none;
}
html body .geBtn {
	background:#2a2a2a !important;
	border-color:#505759 !important;
	color: #cccccc !important;
}
html body .gePrimaryBtn {
	background:#505759 !important;
	border-color:#cccccc !important;
	color:#cccccc !important;
}
html body .geBtn:hover {
	background:#000000 !important;
}
html body tr.mxPopupMenuItem {
	color:#cccccc;
}
html body tr.mxPopupMenuItemHover {
	background:#000000;
	color:#cccccc;
}
html body .geSidebarContainer .geTitle:hover, html body .geMenubarContainer .geItem:hover, html body .geBaseButton:hover {
	background:#000000;
}
html body .geHsplit, html body .geToolbarContainer .geSeparator, html body table.mxPopupMenu hr {
	background-color:#505759;
}
html body .geToolbar {
	border-color:#505759;
	box-shadow:none;
}
html body .geDialog, html body div.mxWindow {
	background:#2a2a2a;
	border-color:#c0c0c0;
	box-shadow:none;
	color:#cccccc;
}
html body .geActivePage {
	border-bottom: 3px solid #DF6C0C !important;
}
.geHint {
	-webkit-box-shadow: 1px 1px 1px 0px #ccc;
	-moz-box-shadow: 1px 1px 1px 0px #ccc;
	box-shadow: 1px 1px 1px 0px #ccc;
}
.geEditor ::-webkit-scrollbar-corner {
	background-color: #2a2a2a;
}
.geEditor ::-webkit-scrollbar-track {
	background-color: #000;
}
.geEditor ::-webkit-scrollbar-thumb {
	background-color: #505759;
	border:#000 solid 3px;
}
.geEditor ::-webkit-scrollbar-thumb:hover {
	background:#b5b5b5;
}
.geHsplit:hover, .geVsplit:hover {
	background-color:#b5b5b5;
}
