<div id="body">
	<section class="main-content clear-fix">

		<form name="form1" method="post" enctype="multipart/form-data" action="api/converter">
            <fieldset>
                <legend>*.vsd Files</legend>
                <div>
                    <label for="file1">File 1</label>
                    <input name="file1" type="file" />
                </div>
                <div>
                    <label for="file2">File 2</label>
                    <input name="file2" type="file" />
                </div>
                <div>
                    <label for="file3">File 3</label>
                    <input name="file3" type="file" />
                </div>
                <div>
                    <label for="file4">File 4</label>
                    <input name="file4" type="file" />
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </fieldset>
		</form>

	</section>
</div>
